{{extend 'layout.html'}}
<h1>
    Rezepte aus der Kategory {{=categoryName}}
</h1>

<table>
    <thead>
        <tr>
            <td>
                Rezeptname
            </td>
            <td>
                Beschreibung
            </td>
        </tr>
    </thead>
    <tfoot>
        {{for row in recipes:}}
        <tr>
            <td>
                <a href="{{=URL('showRecipe', args=row.id)}}">
                    {{=row.title}}    {{=row.category.name}}
                </a>
            </td>
            <td>
                {{=row.description}}
            </td>
        </tr>
        {{pass}}
    </tfoot>
</table>

{{if page > 0:}}
<a href="{{=URL('categoryRecipeList', args = (categoryId, page - 1))}}">
    <button>
        Zurück
    </button>
</a>
{{pass}}

{{if len(recipes) >= RECIPES_PER_PAGE:}}
<a href="{{=URL('categoryRecipeList', args = (categoryId, page + 1))}}">
    <button>
        Weiter
    </button>
</a>
{{pass}}
