{{extend 'layout.html'}}
<div class = "content">

<h1>
    {{=recipe.title}}
</h1>

{{if auth.user:}}
{{if recipe.writer.id == auth.user.id:}}
    <a href="{{=URL('editRecipe', args=recipe.id)}}">
    <button class="mainButton">
        Bearbeiten
    </button>
</a>
{{pass}}
{{pass}}
{{if recipe.description is not "":}}
<h2>
    Beschreibung
</h2>


<div class = "partDiv">
    
{{=recipe.description}}
{{pass}}


<p>
    Erstellt am: {{=recipe.creationDate}} von {{=recipe.writer.username}}
</p>

<p>
    <b>Schwierigkeit: </b> {{=recipe.difficulty.name}}
</p>
<p>
    <b>Kosten: </b> {{=recipe.priceCategory.name}}
</p>

{{if recipe.category != None:}}
<p>
    <b>Kategorie: </b> {{=recipe.category.name}}
</p>
{{pass}}

    
{{if recipe.origin != None:}}
<p>
    <b>Art: </b> {{=recipe.origin.name}}
</p>
{{pass}}

<p>
   <b>Dauer: </b> {{=recipe.duration}} Minuten
</p>

<p>
    <b>Zutaten für {{=recipe.forAmountOfPeople}} Personen</b>
</p>

</div>
{{if recipe.image != "":}}
    <img src="{{=URL('default', 'download', args=recipe.image)}}" class="showRecipeImage"/>
    {{pass}}

<h2>
    Benötigte Zutaten:
</h2>

<div class = "partDiv">
  {{=XML(recipe.ingredients.replace('\n','<br />'))}}
    </div>

<h2>
    Anleitung:
</h2>

<div class="partDiv">
{{=XML(recipe.instructions.replace('\n','<br />'))}} 
</div>

    
        
</div>
